/* Enlever les bords de la page */
*{
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #003E52;
}

/* ========== HEADER ========== */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ========== Bar nav + logo ========== */
nav {
    display: flex;
    justify-content: center;
}

#logoKW {
    height: 60px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li a {
    color: #003E52;
    text-decoration: none;
    padding: 1em; /* On applique la même valeur aux quatre côtés */
}

li a:hover {
    color: #6cadc2;
}

img {
    width: 100%;
}

/* ========== Epice image et text ========== */
#epices {
    display: flex;
    justify-content: center;
}

#txtKW {
    text-align: right;
    flex-basis: 30%;  /* taille de l'élémment */
    margin-top: 100px;
}

#txtKW h1, #txtKW p {
    margin-right: 50px;
}


td{
    padding-left:  20px;
    text-align: left;
}

tr p {
    padding-left:  20px;
    text-align: left;
}


/* ========== Text Signature Poke ========== */
#textPoke {
    margin: 0 25vw; /* 25% de la largeur de la fenêtre */
}

#textPoke h1 {
    border-bottom: #003E52 1px solid;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}

#textPoke svg {
    color: #7FA6AD;
    height: 30px;
    width: 30px;
}

#textPoke p, #textPoke h2 {
    text-align: left;
    font-size: 20px;
}

#textPoke h2 {
    margin: 20px;
}

p img {
    width: 100%;
}

#sushis {
    margin-top: 80px;
}

/* ========== IFRAME ========== */
iframe{
    margin-top: 20px;
    filter: grayscale(100%);
    width: 1200px;
    height: 400px;
}

/* ========== FOOTER ========== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #003e52;
    height: 200px;
    color: white;
}

footer p {
    margin-top: 20px;
}

span {
    font-weight: bold;
}